*{
    margin: 0;
    padding: 0;
}



/* smartphone */ /* falta */



/* tablet */


@media (min-width:480px) and (max-width:1023px) {
    header {
        background-size: cover;
        width: 100%;
        height: 713px;
        display: flex;
        flex-flow: column wrap;
        background-image: url(../images/banner.png);
        justify-content: space-between;
    }
    nav {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .logo{
        width: 75%;
        padding: 10px;
    }
    nav h1 {
        width: 50%;
        color: red;
        font-size: xx-large;
        text-align: center;
        padding-top: 3%;
    }
    .menuBox {
        display: flex;
        width: 15%;
        height: 100%;
        padding-right: 3%;
        flex-wrap: wrap;
        align-items: center;
        justify-content:space-between;
        list-style: none;
    }
    .menu {
        text-decoration: none;
        font-size: larger;
        color: white;
    }
    .home {
        width: 30px;
    }
    .proverb {
        height: 20px;
        border: solid 2px;
        border-radius: 10px;
        background-color: rgb(225, 226, 233);
        border-color: rgb(112, 112, 114);
        margin-bottom: 7px;
    }
    main {
        width: 100%;
        height: 2100px;
        display: flex;
        flex-flow: row nowrap;
    }
    .mainSection {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100%;
        height: 100%;
        background-color: rgb(208, 208, 212);
    }
    .courseSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 100%;
        justify-items: center;
        color: blue
    }
    .tittle1 {
        display: grid;
        justify-items: center;
        align-items: center;
    }
    .iCourse {
        color: blue;
        margin: 2%;
        text-align: center;
        border: solid 1px;
        border-radius: 10px;
        width: 80%;
        height: 80%;
        text-decoration: none;
    }
    a:hover {
        color: white
    }
    .courseImg{
        width: 100%;
        height: 80%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .videoSection {
        display: grid;
        background-color: grey;
        grid-template-rows: 1fr 5fr 3fr;
        justify-items: center;
        align-items: center;
        color: white;
        height: 95%;
    }
    .tittle2 {
        font-size: xx-large;
    }
    .skills {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
    }
    .iSkills {
        margin: 10%;
        border: solid 1px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .sKillsImg {
        width: 100%;
    }
    .extraSection {
        display: grid;
        grid-template-rows: 1fr repeat(5, 3fr);
        justify-items: center;
        color: rgb(250, 73, 13);
        height: 98%;
    }
    .iExtra {
        background-color: pink;
        border: solid 1px;
        border-radius: 6px;
        margin: 2%;
        width: 90%;
        height: 80%;
    }
}


/* desktop */


@media (min-width: 1024px) {

header {
        background-size: cover;
        width: 100%;
        height: 100vh;
        background-image: url(../images/banner.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    nav {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .logo{
        width: 75%;
        padding: 10px;
    }
    nav h1 {
        width: 50%;
        color: white;
        font-size: xx-large;
        text-align: center;
        padding-top: 3%;
    }
    .menuBox {
        display: flex;
        width: 15%;
        height: 100%;
        padding-right: 3%;
        flex-wrap: wrap;
        align-items: center;
        justify-content:space-between;
        list-style: none;
    }
    .menu {
        text-decoration: none;
        font-size: larger;
        color: white;
    }
    .home {
        width: 30px;
    }
    .proverb {
        height: 20px;
        border: solid 2px;
        border-radius: 10px;
        background-color: rgb(225, 226, 233);
        border-color: rgb(112, 112, 114);
        margin-bottom: 7px;
    }
    main {
        width: 100%;
        height: 1500px;
        display: flex;
        flex-flow: row nowrap;
    }
    .mainSection {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        width: 100%;
        height: 700px;
        background-color: rgb(208, 208, 212);
    }
    .courseSection {
        display: grid;
        grid-template-rows: 1fr repeat(5, 3fr);
        margin-left: 5%;
        gap: 1%;
        justify-items: center;
        color: blue;
        height: 98%;
    }
    .tittle1 {
        display: grid;
        justify-items: center;
        align-items: center;
    }
    .iCourse {
        display: grid;
        justify-items: center;
        align-items: start;
        border: solid 1px;
        border-radius: 10px;
        width: 80%;
        height: 90%;
        text-decoration: none;
    }
    a:hover {
        color: white
    }
    .courseImg{
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .videoSection {
        display: grid;
        grid-template-rows: 1fr 5fr 3fr;
        justify-items: center;
        align-items: center;
        background-color: rgb(168, 168, 169);
        color: white;
        height: 95%;
    }
    .tittle2 {
        font-size: xx-large;
    }
    .video {
        width: 80%;
        overflow:hidden;
        padding-bottom:400px;
        position:relative;
        height:0;
    }
    .video iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
    .skills {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5%;
        text-align: center;
    }
    .iSkills {
        margin: 10%;
        border: solid 1px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .sKillsImg {
        width: 100%;
    }
    .extraSection {
        display: grid;
        grid-template-rows: 1fr repeat(5, 3fr);
        justify-items: center;
        color: blue;
        height: 98%;
    }
    .iExtra {
        background-color: pink;
        border: solid 1px;
        border-radius: 6px;
        margin: 2%;
        width: 90%;
        height: 80%;
    }
}
